<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <Pattern>%level %date [%thread] [%X{rid}] [%file:%line] %msg%n</Pattern>
            </pattern>
        </layout>
    </appender>

    <springProfile name="local,dev,preprod,prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>