<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <springProperty name="ANALYTICS_LOG_PATH" source="logging.path.analytics"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <Pattern>%level %date [%thread] [%X{rid}] [%file:%line] %msg%n</Pattern>
            </pattern>
        </layout>
    </appender>

    <appender name="ERRORLOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder class="in.wynk.logging.WynkErrorEncoder"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH:-/tmp}/logs/partner/error/%d{yyyy-MM-dd,
                aux}/partner-error.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>500MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_ERRORLOG"
              class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERRORLOG"/>
        <queueSize>10000</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%level %date [%thread] [%X{rid}] [%file:%line] %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-/tmp}/logs/partner/app/%d{yyyy-MM-dd,
                aux}/partner.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>500MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_FILE"
              class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>10000</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!-- logstashLogs -->
    <appender name="ANALYTIC_LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ANALYTICS_LOG_PATH:-/tmp}/partner/logstash/%d{yyyy-MM-dd,
                aux}/partner-logstash.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_ANALYTIC_LOG_FILE"
              class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ANALYTIC_LOG_FILE"/>
        <queueSize>10000</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="allPlansListing" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="activePlanListing" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="placeOrder" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="orderStatus" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="placeOrderAirtel" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="orderAcknowledgedEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="fulfilledOrderEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="provisionalOrderAcknowledgedEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="provisionalOrderFulfilledEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="failureOrderEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="placeOrderAsync" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="fulfilOrderAsync" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="notifyOrderAsync" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="deferredOrdersScheduler" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="DeferredOrderAsync" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="messageThresholdExceedEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="orderPlacementMessageThresholdExceedEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="orderFulfilmentMessageThresholdExceedEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </root>
    </springProfile>

    <springProfile name="dev,preprod">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </root>
        <logger name="in.wynk" additivity="false" level="DEBUG">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </root>
    </springProfile>
</configuration>