<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <springProperty name="ANALYTICS_LOG_PATH" source="logging.path.analytics"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <Pattern>%level %date [%thread] [%X{rid}] [%file:%line] %msg%n</Pattern>
            </pattern>
        </layout>
    </appender>

    <appender name="ERRORLOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder class="in.wynk.logging.WynkErrorEncoder"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH:-/tmp}/logs/payment/error/%d{yyyy-MM-dd,
                aux}/payment-error.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_ERRORLOG"
              class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERRORLOG"/>
        <queueSize>10000</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%level %date [%thread] [%X{rid}] [%file:%line] %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-/tmp}/logs/payment/app/%d{yyyy-MM-dd,
                aux}/payment.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_FILE"
              class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>10000</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!-- logstashLogs -->
    <appender name="ANALYTIC_LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ANALYTICS_LOG_PATH:-/tmp}/payment/logstash/day=%d{yyyy-MM-dd,
                aux}/payment-logstash.${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>90</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ASYNC_ANALYTIC_LOG_FILE"
              class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ANALYTIC_LOG_FILE"/>
        <queueSize>10000</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!-- Payment Logger -->
    <logger name="paymentCharging" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="paymentStatus" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="paymentCallback" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="verifyUserPaymentBin" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="refreshInMemoryCache" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="pointPurchase" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <!-- Wallet Logger -->
    <logger name="walletLink" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="walletValidateLink" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="walletUnlink" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="walletBalance" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="walletAddMoney" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="paymentOptions" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="recurringPaymentEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="merchantTransactionEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="paymentRefundedEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="paymentErrorEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="paymentRefundInitEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="clientCallback" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="receiptVerification" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="applyCoupon" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="removeCoupon" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <logger name="eligibleCoupons" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="paymentReconciliation" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="paymentReconciledEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="paymentRenewalMessage" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="paymentRenewalChargingMessage" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="seRenewal" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="paymentRenew" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="renewalSubscriptionMessage" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="scheduleRenewalMessage" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="paymentRenewalErrorMessage" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="messageThresholdExceedEvent" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="paymentRenew" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="sePaymentRenew" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="paymentRenewals" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="sePaymentRenewals" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>
    <logger name="sePaymentRenewals" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_ANALYTIC_LOG_FILE"/>
    </logger>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </root>
        <logger name="in.wynk" additivity="false" level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG" />
        </logger>
    </springProfile>

    <springProfile name="dev,preprod">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG" />
        </root>
        <logger name="in.wynk" additivity="false" level="DEBUG">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG" />
        </logger>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="ASYNC_ERRORLOG"/>
        </root>
    </springProfile>
</configuration>